//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 22 04:28:48 2015
//! **************************************************************************

SCHEMATIC START;
COMP "WriteOrRead" LOCATE = SITE "A8" LEVEL 1;
COMP "Clock" LOCATE = SITE "V10" LEVEL 1;
COMP "DataIn<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "DataIn<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "DataIn<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "DataIn<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "DataIn<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "DataIn<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "DataIn<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "Reset" LOCATE = SITE "C9" LEVEL 1;
COMP "Locked" LOCATE = SITE "U16" LEVEL 1;
COMP "NextAddress" LOCATE = SITE "C4" LEVEL 1;
COMP "RAMaddress<0>" LOCATE = SITE "V16" LEVEL 1;
COMP "RAMaddress<1>" LOCATE = SITE "U15" LEVEL 1;
COMP "RAMaddress<2>" LOCATE = SITE "V15" LEVEL 1;
COMP "RAMaddress<3>" LOCATE = SITE "M11" LEVEL 1;
COMP "RAMaddress<4>" LOCATE = SITE "N11" LEVEL 1;
COMP "RAMaddress<5>" LOCATE = SITE "R11" LEVEL 1;
COMP "Transistors<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "Transistors<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "Transistors<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "Transistors<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "Display<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "Display<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "Display<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "Display<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "Display<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "Display<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "Display<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "Display<7>" LOCATE = SITE "M13" LEVEL 1;
SCHEMATIC END;

