//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 28 16:18:21 2015
//! **************************************************************************

SCHEMATIC START;
COMP "ClockLocked" LOCATE = SITE "U16" LEVEL 1;
COMP "SDA" LOCATE = SITE "L3" LEVEL 1;
COMP "SCL" LOCATE = SITE "L4" LEVEL 1;
COMP "Go" LOCATE = SITE "C4" LEVEL 1;
COMP "Clock" LOCATE = SITE "V10" LEVEL 1;
COMP "Reset" LOCATE = SITE "C9" LEVEL 1;
SCHEMATIC END;

