NET "ClockIn" LOC = V10;
NET "Locked" LOC = U16;
NET "Reset" LOC = C9;
NET "ScrollEnable" LOC = A8;
NET "IncrementAddress" LOC = C4;
NET "IncrementData" LOC = D9;
NET "LoadData" LOC = B8;
NET "Data[6]" LOC = V8;
NET "Data[5]" LOC = U8;
NET "Data[4]" LOC = N8;
NET "Data[0]" LOC = T10;
NET "Data[1]" LOC = T9;
NET "Data[2]" LOC = V9;
NET "Data[3]" LOC = M8;
NET "Display[0]" LOC = T17;
NET "Display[1]" LOC = T18;
NET "Display[2]" LOC = U17;
NET "Display[3]" LOC = U18;
NET "Display[4]" LOC = M14;
NET "Display[5]" LOC = N14;
NET "Display[6]" LOC = L14;
NET "Display[7]" LOC = M13;
NET "Transistors[0]" LOC = N16;
NET "Transistors[1]" LOC = N15;
NET "Transistors[2]" LOC = P18;
NET "Transistors[3]" LOC = P17;
NET "MemAddress[0]" LOC = U15;
NET "MemAddress[1]" LOC = V15;
NET "MemAddress[2]" LOC = M11;
NET "MemAddress[3]" LOC = N11;
NET "MemAddress[4]" LOC = R11;
NET "MemAddress[5]" LOC = T11;