NET "SystemClock" LOC = V10;
NET "Reset" LOC = C9;
NET "Start" LOC = C4;

NET "ClockLocked" LOC = U16;
NET "SCL" LOC = L4;
NET "SDA" LOC = L3;

NET "Display[0]" LOC = T17;
NET "Display[1]" LOC = T18;
NET "Display[2]" LOC = U17;
NET "Display[3]" LOC = U18;
NET "Display[4]" LOC = M14;
NET "Display[5]" LOC = N14;
NET "Display[6]" LOC = L14;
NET "Display[7]" LOC = M13;

NET "Transistors[0]" LOC = N16;
NET "Transistors[1]" LOC = N15;
NET "Transistors[2]" LOC = P18;
NET "Transistors[3]" LOC = P17;

NET "ChipSelect[0]" LOC = T10;
NET "ChipSelect[1]" LOC = T9;
NET "ChipSelect[2]" LOC = V9;

NET "Mode" LOC = M8;
