NET "InputClock" LOC = V10;

NET "rota" LOC = N10;
NET "rotb" LOC = P11;

NET "red[0]" LOC = U7;
NET "red[1]" LOC = V7;
NET "red[2]" LOC = N7;

NET "green[0]" LOC = P8;
NET "green[1]" LOC = T6;
NET "green[2]" LOC = V6;

NET "blue[0]" LOC = R7;
NET "blue[1]" LOC = T7;

NET "hsync" LOC = N6;
NET "vsync" LOC = P7;